<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199686131716-dua43ld446jrt9bvaqhdi15dnhhf1n1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199686131716-dua43ld446jrt9bvaqhdi15dnhhf1n1g</string>
	<key>API_KEY</key>
	<string>AIzaSyAxte4mMzM8u4kyfKCJhVH2Zmg6Fl2WWjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>199686131716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.alerterouge</string>
	<key>PROJECT_ID</key>
	<string>alerterouge-3595c</string>
	<key>STORAGE_BUCKET</key>
	<string>alerterouge-3595c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199686131716:ios:8874802915d76c0ffd2551</string>
</dict>
</plist>